@media screen and (max-width: 1024px) {
    header {
        padding: 0 16px;
    }

    #main_left,
    #main_right {
        display: none;
    }

    .footer_right {
        display: none;
    }

    .banner {
        display: none;
    }

    .main .banner_s {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 16px;
    }

    .header > .menu_btn {
        display: flex;
    }

    .header_left > .header_left_menu,
    .header > .header_right {
        display: none;
    }

    .tag_box {
        display: block;
    }

    /* .main .banner_s {
        width: 100%;
    } */
}
