.footerMenu {
    display: flex;
}

.footerMenu div {
    margin-right: 20px;
    font-size: 13px;
    color: #111827;
}

.company {
    margin-top: 28px;
}

.company div {
    color: #374151;
    font-size: 11px;
    padding-bottom: 6px;
}
