footer {
    border-top: 1px solid #dadada;
    padding: 28px 0;
    display: flex;
    justify-content: center;
}

footer > div {
    width: 1280px;
    display: flex;
}

.footer_left {
    width: 208px;
    height: 126px;
    margin: 0 16px;
}
.footer_center {
    padding: 0 20px;
    width: 862px;
    height: 126px;
}
.footer_right {
    width: 178px;
    height: 126px;
}
