header {
    display: flex;
    border-bottom: 1px solid #c5c5c5;
    justify-content: center;
}

.header {
    width: 1280px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 639px;
    height: 28px;
}
.header_left_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 28px;
    font-size: 14px;
}

.header_right {
    width: 523px;
    display: flex;
    justify-content: space-between;
}

.header_right_search {
    width: 303px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right_login {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
