.login,
.signUp {
    width: 85px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
}
.login button,
.signUp button {
    font-size: 12px;
}

.login {
    border: 1px solid #c5c5c5;
}

.signUp {
    background-color: #0090f9;
}

.signUp button {
    color: #fff;
}

.header_right_login button {
    background-color: rgba(0, 0, 0, 0);
}
