<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>kirikiri</title>

        <link rel="stylesheet" href="/css/mainPageCss/reset.css" />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/main/main.css"
        />
        <link rel="stylesheet" href="/css/mainPageCss/media.css" />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/header/darkmode.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/header/search.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/header/header.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/header/login_signUp.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/main/main_left.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/main/main_center.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/main/main_right.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/main/event.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/footer/footer.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/footer/footer_left.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/footer/footer_center.css"
        />
        <link
            rel="stylesheet"
            href="/css/mainPageCss/footer/footer_right.css"
        />
        <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
        <script src="/javascript/mainPageJs/include-html.js"></script>
    </head>
    <body>
        <div class="body">
            <header>
                <div class="header">
                    <div class="header_left">
                        <a href="/">
                            <img
                                src="/img/Logo.png"
                                alt="헤더의 로고이미지"
                                width="110px"
                            />
                        </a>

                        <div class="header_left_menu">
                            <div><a th:href="@{/all}">All</a></div>
                            <div><a th:href="@{/board(categoryName = 'Free')}">Free</a></div>
                            <div><a th:href="@{/board(categoryName = 'Play')}">Play</a></div>
                            <div><a th:href="@{/board(categoryName = 'Counseling')}">Counseling</a></div>
                            <div>|</div>
                            <div><a th:href="@{/faq}">FAQ</a></div>
                        </div>
                    </div>

                    <div class="header_right">
                        <div class="header_right_search">
                            <div class="search">
                                <img
                                    src="/img/mainPageImage/search_icon.png"
                                    alt="검색 아이콘"
                                    class="searchIcon"
                                />
                                <input
                                    type="text"
                                    placeholder="검색"
                                    class="searchInput"
                                />
                            </div>
                            <div>
                                <input type="checkbox" id="toggle" hidden />

                                <!-- 다크모드 on/off 스위치 -->
                                <label for="toggle" class="toggleSwitch">
                                    <span class="toggleButton"></span>
                                    <img
                                        class="toggleImage_off"
                                        src="/img/mainPageImage/darkmode_off.png"
                                        alt="다크모드 off 시"
                                    />
                                    <img
                                        class="toggleImage_on"
                                        src="/img/mainPageImage/darkmode_on.png"
                                        alt="다크모드 on 시"
                                    />
                                </label>
                            </div>
                        </div>
                        <div class="header_right_login" th:if="${!userCheck}">
                            <div class="login"><a href="/login">로그인</a></div>
                            <div class="signUp"><a href="/signup">회원가입</a></div>
                        </div>
                        <div class="header_right_login" th:unless="${!userCheck}">
                            <div>
                                <a class="scrap" href=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-400 hover:cursor-pointer hover:text-blue-500 dark:hover:text-blue-200"><path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path></svg></a>
                                <a class="alert" href=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path></svg></a>
                                <button type="button" class="myPage">
                                    <img src="" alt="profile" th:if="${profileCheck}">
                                    <img src="/img/account.png" alt="profile" th:unless="${profileCheck}">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="menu_btn">
                        <img
                            src="/img/mainPageImage/icon-menu.png"
                            alt="메뉴 아이콘 이미지"
                        />
                    </div>
                </div>
            </header>

            <div class="main">
                <div id="main_left">
                    <div class="main_left_Menu">
                        <div class="bestTag"><span>#인기태그</span></div>

                        <div class="tag_menu">
                            <div class="tag_menu_li">
                                <span>#java</span>
                                <span class="span_count">00</span>
                            </div>
                            <div class="tag_menu_li">
                                <span>#javascript</span>
                                <span class="span_count">00</span>
                            </div>
                            <div class="tag_menu_li">
                                <span>#springboot</span>
                                <span class="span_count">00</span>
                            </div>
                            <div class="tag_menu_li">
                                <span>#spring</span>
                                <span class="span_count">00</span>
                            </div>
                            <div class="tag_menu_li">
                                <span>#react</span>
                                <span class="span_count">00</span>
                            </div>
                        </div>
                    </div>

                    <div class="main_left_Img">
                        <img
                            src="/img/mainPageImage/개발지식 챌린지.png"
                            alt="개발지식 챌린지 이미지"
                        />
                    </div>

                    <div class="main_left_BugReport">
                        <div class="bugReport_img">
                            <img
                                src="/img/mainPageImage/bugReport.png"
                                alt="버그리포트 이미지"
                            />
                        </div>
                        <div class="bugReport_text">
                            <p>버그와 제안은 여기에</p>
                            <p>댓글로 남겨주세요.</p>
                        </div>
                    </div>

                    <div class="main_left_TopWriters">
                        <div class="topWriters">Top Writers</div>
                        <div class="topWriters_users">
                            <div class="topWriters_user">
                                <div class="user_name">
                                    <img
                                        class="user_icon"
                                        src="/img/mainPageImage/icon-user.png"
                                        alt="유저 icon 이미지"
                                    />
                                    <span>고등어통조림</span>
                                </div>
                                <div class="user_point">
                                    <img
                                        class="medal_icon"
                                        src="/img/mainPageImage/icon-medal.png"
                                        alt="매달 icon 이미지"
                                    />
                                    <span>000</span>
                                </div>
                            </div>
                            <div class="topWriters_user">
                                <div class="user_name">
                                    <img
                                        class="user_icon"
                                        src="/img/mainPageImage/icon-user.png"
                                        alt="유저 icon 이미지"
                                    />
                                    <span>1층</span>
                                </div>
                                <div class="user_point">
                                    <img
                                        class="medal_icon"
                                        src="/img/mainPageImage/icon-medal.png"
                                        alt="매달 icon 이미지"
                                    />
                                    <span>000</span>
                                </div>
                            </div>
                            <div class="topWriters_user">
                                <div class="user_name">
                                    <img
                                        class="user_icon"
                                        src="/img/mainPageImage/icon-user.png"
                                        alt="유저 icon 이미지"
                                    />
                                    <span>kenu</span>
                                </div>
                                <div class="user_point">
                                    <img
                                        class="medal_icon"
                                        src="/img/mainPageImage/icon-medal.png"
                                        alt="매달 icon 이미지"
                                    />
                                    <span>000</span>
                                </div>
                            </div>
                            <div class="topWriters_user">
                                <div class="user_name">
                                    <img
                                        class="user_icon"
                                        src="/img/mainPageImage/icon-user.png"
                                        alt="유저 icon 이미지"
                                    />
                                    <span>leemong77</span>
                                </div>
                                <div class="user_point">
                                    <img
                                        class="medal_icon"
                                        src="/img/mainPageImage/icon-medal.png"
                                        alt="매달 icon 이미지"
                                    />
                                    <span>000</span>
                                </div>
                            </div>
                            <div class="topWriters_user">
                                <div class="user_name">
                                    <img
                                        class="user_icon"
                                        src="/img/mainPageImage/icon-user.png"
                                        alt="유저 icon 이미지"
                                    />
                                    <span>무명시민</span>
                                </div>
                                <div class="user_point">
                                    <img
                                        class="medal_icon"
                                        src="/img/mainPageImage/icon-medal.png"
                                        alt="매달 icon 이미지"
                                    />
                                    <span>000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



<!--                중앙-->
                <div id="main_center">
                    <img
                        class="banner"
                        src="/img/mainPageImage/main_banner.jpg"
                        alt="광고 베너 이미지"
                    />
                    <img
                        class="banner_s"
                        src="/img/mainPageImage/main_banner_S.jpg"
                        alt="광고 베너 이미지"
                    />
                    <div class="tag_box">
                        <div class="tag f_tag">
                            <a th:href="@{/board(categoryName = 'Free')}" class="tag_title">
                                <span>Free</span>
                            </a>
                            <div class="posts">
                                <th:block th:each="board:${freeBoards}" th:object="${board}">
                                    <div class="post">
                                        <div class="writers">
                                            <div class="writers_info">
                                                <img
                                                        class="icon-user"
                                                        src="/img/mainPageImage/icon-user.png"
                                                        alt="유저 프로필 이미지"
                                                />
                                                <span th:text="*{userId}"></span>
                                                <span>·</span>
                                                <svg class="icon-lightning" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                                <span th:text="*{boardViews}"></span>
                                                <span>·</span>
                                                <span th:text="*{boardRegisterDate}"></span>
                                            </div>
                                            <div class="like_comment">
                                                <img
                                                        class="icon-up-down"
                                                        src="/img/mainPageImage/icon-up-down.png"
                                                        alt="좋아요 icon 이미지"
                                                />
                                                <span th:text="*{boardLikes}"></span>
                                                <img
                                                        class="icon-comment"
                                                        src="/img/mainPageImage/icon-comment.png"
                                                        alt="댓글 icon 이미지"
                                                />
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="post_title">
                                            <span th:text="*{boardTitle}"></span>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="tag">
                            <a th:href="@{/board(categoryName = 'Counseling')}" class="tag_title">
                                <span>Counseling</span>
                            </a>

                            <div class="posts">
                                <th:block th:each="board:${counselingBoards}" th:object="${board}">
                                    <div class="post">
                                        <div class="writers">
                                            <div class="writers_info">
                                                <img
                                                        class="icon-user"
                                                        src="/img/mainPageImage/icon-user.png"
                                                        alt="유저 프로필 이미지"
                                                />
                                                <span th:text="*{userId}"></span>
                                                <span>·</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="icon-lightning"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                                <span th:text="*{boardViews}"></span>
                                                <span>·</span>
                                                <span th:text="*{boardRegisterDate}"></span>
                                            </div>
                                            <div class="like_comment">
                                                <img
                                                        class="icon-up-down"
                                                        src="/img/mainPageImage/icon-up-down.png"
                                                        alt="좋아요 icon 이미지"
                                                />
                                                <span th:text="*{boardLikes}"></span>
                                                <img
                                                        class="icon-comment"
                                                        src="/img/mainPageImage/icon-comment.png"
                                                        alt="댓글 icon 이미지"
                                                />
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="post_title">
                                            <span th:text="*{boardTitle}"></span>
                                        </div>
                                    </div>
                                </th:block>


                            </div>
                        </div>
                    </div>
                    <div class="tag_box">
                        <div class="tag f_tag">
                            <a th:href="@{/board(categoryName = 'Play')}" class="tag_title">
                                <span>Play</span>
                            </a>

                            <div class="posts">
                                <th:block th:each="board:${playBoards}" th:object="${board}">
                                    <div class="post">
                                        <div class="writers">
                                            <div class="writers_info">
                                                <img
                                                        class="icon-user"
                                                        src="/img/mainPageImage/icon-user.png"
                                                        alt="유저 프로필 이미지"
                                                />
                                                <span th:text="*{userId}"></span>
                                                <span>·</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="icon-lightning"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                                <span th:text="*{boardViews}"></span>
                                                <span>·</span>
                                                <span th:text="*{boardRegisterDate}"></span>
                                            </div>
                                            <div class="like_comment">
                                                <img
                                                        class="icon-up-down"
                                                        src="/img/mainPageImage/icon-up-down.png"
                                                        alt="좋아요 icon 이미지"
                                                />
                                                <span th:text="*{boardLikes}"></span>
                                                <img
                                                        class="icon-comment"
                                                        src="/img/mainPageImage/icon-comment.png"
                                                        alt="댓글 icon 이미지"
                                                />
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="post_title">
                                            <span th:text="*{boardTitle}"></span>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="tag">
                            <a th:href="@{/board(categoryName = 'Job')}" class="tag_title">
                                <span>Job</span>
                            </a>

                            <div class="posts">
                                <th:block th:each="board:${jobBoards}" th:object="${board}">
                                    <div class="post">
                                        <div class="writers">
                                            <div class="writers_info">
                                                <img
                                                        class="icon-user"
                                                        src="/img/mainPageImage/icon-user.png"
                                                        alt="유저 프로필 이미지"
                                                />
                                                <span th:text="*{userId}"></span>
                                                <span>·</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="icon-lightning"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                                <span th:text="*{boardViews}"></span>
                                                <span>·</span>
                                                <span th:text="*{boardRegisterDate}"></span>
                                            </div>
                                            <div class="like_comment">
                                                <img
                                                        class="icon-up-down"
                                                        src="/img/mainPageImage/icon-up-down.png"
                                                        alt="좋아요 icon 이미지"
                                                />
                                                <span th:text="*{boardLikes}"></span>
                                                <img
                                                        class="icon-comment"
                                                        src="/img/mainPageImage/icon-comment.png"
                                                        alt="댓글 icon 이미지"
                                                />
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="post_title">
                                            <span th:text="*{boardTitle}"></span>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main_right">
                    <div class="side_banner">
                        <img
                            src="/img/mainPageImage/side_banner.png"
                            alt="사이드 광고 베너"
                        />
                        <img
                            src="/img/mainPageImage/side_banner2.png"
                            alt="사이드 광고 베너2"
                        />
                    </div>
                </div>
            </div>

            <footer>
                <div>
                    <div class="footer_left">
                        <img
                            src="/img/Logo.png"
                            alt="푸터의 로고 이미지"
                            width="120px"
                        />
                        <div>
                            <span>All That Developer</span>
                        </div>
                        <div class="icon">
                            <img
                                src="/img/mainPageImage/icon-facebook.png"
                                alt="페이스북 아이콘"
                            />
                            <img
                                src="/img/mainPageImage/icon-youtube.png"
                                alt="유튜브 아이콘"
                            />
                            <img
                                src="/img/mainPageImage/icon-envelope.png"
                                alt="메일 아이콘"
                            />
                        </div>
                    </div>

                    <div class="footer_center">
                        <div class="footerMenu">
                            <div><span>회사소개</span></div>
                            <div><span>공지사항</span></div>
                            <div><span>연락처</span></div>
                            <div><span>광고문의</span></div>
                            <div><span>채용</span></div>
                            <div>|</div>
                            <div><span>버그제보</span></div>
                            <div>|</div>
                            <div><span>개인정보 처리방침</span></div>
                            <div><span>서비스 이용약관</span></div>
                        </div>
                        <div class="company">
                            <div>
                                상호명: (주)오키코리아 | 대표명 : 노상범, 장기진
                                | 사업자등록번호 : 592-87-02037 | 문의 :
                                <span>@okky.kr</span>
                            </div>
                            <div>
                                통신판매업신고번호 : 제 2022-서울강남-04742호 ㅣ
                                주소: 서울 강남구 봉은사로 303 TGL경복빌딩 502호
                                (06103)
                            </div>
                            <div>
                                © 2022 (주)오키코리아, Inc. All rights reserved.
                            </div>
                        </div>
                    </div>

                    <div class="footer_right">
                        <div class="sponsored_text">
                            <div>SPONSORED BY</div>
                        </div>
                        <div class="sponsored_logo">
                            <img
                                src="/img/mainPageImage/inames-logo.svg"
                                alt="inames 로고 이미지"
                            />
                            <img
                                src="/img/mainPageImage/nhn-cloud-logo.svg"
                                alt="nhn-cloud 로고 이미지"
                            />
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script>
        includeHTML();
    </script>
</html>
