<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OKKY</title>

        <link rel="stylesheet" href="../../static/css/mainPageCss/reset.css" />
        <link
            rel="stylesheet"
            href="../../static/css/mainPageCss/main/main.css"
        />
        <link rel="stylesheet" href="../../static/css/mainPageCss/media.css" />

        <script src="../../static/javascript/mainPageJs/include-html.js"></script>
    </head>
    <body>
        <div class="body">
            <header include-html="header.html"></header>

            <div class="main">
                <div id="main_left" include-html="main_left.html"></div>
                <div id="main_center" include-html="main_center.html"></div>
                <div id="main_right" include-html="main_right.html"></div>
            </div>
            <div id="event">
                <div include-html="event.html"></div>
            </div>

            <footer include-html="footer.html"></footer>
        </div>
    </body>
    <script>
        includeHTML();
    </script>
</html>
