#signup-page {
  width: 450px;
  margin: 150px auto;
}

.main-logo {
  width: 70px;
  display: flex;
  margin: 0 auto 30px;
}
#okky-welcome {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.explan-site {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  color: rgb(75 85 99);
}

/*SNS로 로그인*/
#SNS-signup {
  margin-top: 40px;
}
#SNS-signup > span {
  font-weight: bold;

}
#SNS-signup > div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-top: 10px;
}
#SNS-signup > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsla(220,9%,46%,.3);
  padding: 10px 20px;
  border-radius: 10px;
}
#SNS-signup > div > a:hover {
  border-color: #000;
}
#SNS-signup svg {
  width: 20px;
}

/*OKKY로 로그인*/
#okky-signup-msg {
  margin-top: 30px;
  position: relative;
}
#center-line {
  position: relative;
}
#center-line {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 0;
  border-top: 1px solid hsla(220,9%,46%,.3);
  z-index: 0;
}
#okky-signup-text {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
#okky-signup-text > span {
  position: relative;
  background-color: #fff;
  padding: 0 10px;
  z-index: 10;
  font-size: 13px;
  color: hsla(220,9%,46%,.7);
}

/*로그인폼*/
#signup-form {
  margin: 40px 0;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 25px;
}
.signup-label {
  font-size: 12px;
  font-weight: bold;
}
.signup-input {
  width: 100%;
  border: 1px solid hsla(220,9%,46%,.3);
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
}
#email-agree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#email-agree > p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#email-agree-button {
  background-color: rgb(0 144 249);
  border: 2px solid transparent;
  border-radius: 9999px;
  cursor: pointer;
  width: 2.75rem;
  height: 1.5rem;
  margin-left: 1rem;
  position: relative;
  display: inline-flex;
}
#email-agree-button > span {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#email-explan {
  margin-top: 10px;
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#robot-check {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#terms {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#terms > a {
  color: #0090f9;
  margin: 0 20px;
}
#terms > a:hover {
  color: rgb(11 127 211);
}
#terms > div {
  width: 0;
  border: 1px solid rgb(229 231 235);
}
#signup-button {
  margin-top: 20px;
}
#signup-button > button {
  width: 100%;
  padding: 8px 0;
  color: #fff;
  font-weight: bold;
  background-color: #0090f9;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
#signup-button > button:hover {
  background-color: rgb(11 127 211);
}
#go-login {
  margin-top: 30px;
  text-align: center;
  font-size: 13px ;
}
#go-login > a {
  color: #0090f9;
  text-decoration: underline;
}
#go-login > a:hover {
  color: rgb(11 127 211);
}
