@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: Pretendard-Regular;
}
.contain{
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 67px;
    height: 67px;
    object-fit: cover;
    padding-top: 25px;
    padding-bottom: 3px;
}
.main-title{
    font-weight: 700;
    font-size: 30px;
}
.guide{
    padding-top: 10px;
    color: #4B5563;
    font-size: 14px;
    text-align: center;
    margin-bottom: 36px;
    line-height: 20px;

}
label{
    display: block;
    vertical-align: top;
    font-size: 13px;
    padding-bottom: 7px;
    color: #373D4B;
    font-weight: bold;
}
.address-input>div>input {
    width: 436px;
    height: 41px;
    border: 1px solid hsla(220, 9%, 46%, .3);
    border-radius: 6px;
    font-size: 87%;
    line-height: 41px;
    padding-left: 11px;
}

#not-email{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    color: #ef4444;
}

.cancel-button>a {
    display: block;
    border: 1px solid hsla(220,9%,46%,.3);
    width: 215px;
    height: 36px;
    margin-right: 16px;
    margin-top: 23px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    float: left;
}
.cancel-button>a:hover{
    display: block;
    border: 1px solid #f0f0f0;
    width: 215px;
    height: 36px;
    margin-right: 16px;
    margin-top: 23px;
    color: black;
    border-radius: 5px;
}
#find-address>input{
    display: block;
    border: 1px solid #8BC34A;
    width: 215px;
    height: 36px;
    margin-top: 23px;
    background-color: #8BC34A;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;

}
#find-address>input:hover{
    display: block;
    border: 1px solid #689f38;
    width: 215px;
    height: 36px;
    margin-top: 23px;
    background-color: #689f38;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;

}
#failed-search {
    width: 415px;
    margin-top: 30px;
    background-color: rgb(240 246 250);
    border: 1px solid rgb(254 226 226);
    border-radius: 5px;
    color: rgb(153 27 27);
    padding: 15px;
    font-size: 12px;
}
#failed-search > div {
    margin-right: 10px;
}
#failed-search h3 {
    font-weight: bold;
    margin-bottom: 12px;
}