ul, li{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.main{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    margin : 0px auto;
    display: flex;
    justify-content: center;
}
.main_top_margin{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.main_without_margin{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    /*background-color: aqua;*/
}
.menu_bar{
    width: 256px;
    height: 874px;
    padding-right: 64px;
    float: left;
    border-right: solid 1px gray;
}
.menu_bar>h2{
    margin: 0px;
    height: 24px;
    font-weight: bold;
    line-height: 24px;
}
.menu{
    margin: 40px 0px;
}
.menu>ul{
    padding: 0px;
}
.menu li{
    list-style: none;
    border-radius: 0.375rem;
}
.checkfalse{
    background-color: white;
}
.menu img{
    margin-left: -4px;
    margin-right: 12px;
    transform : translate(0px, 3px);
}
.menu span{
    display:inline-block;
    height: 24px;
    line-height: 24px;
    transform: translate(0px, -3px);
}
#link_1{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    cursor: pointer;
}
#link_2, #link_3, #link_4, #link_5{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    margin-top: 8px;
    cursor: pointer;
}
.content{
    float: left;
    width: 959px;
}
.info{
    padding-left: 80px;
    border-bottom: 1px solid gray;
}
.info>h2{
    font-size: 20px;
    font-weight: semi-bold;
}
.info_word{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}
.info_word>div{
    float:left;
}
.essentialInfo{
    width: 511px;
}
.name{
    height: 66px;
}
.nickname, .nationality, .age, .livingplace{
    height: 66px;
    margin-top: 24px;
}
.username{
    width: 511px;
    height: 20px;
}
.name_enter, .nickname_enter, .nationality_enter, .age_enter, .livingplace_enter{
    margin-top: 4px;
    height: 42px;
}
#username, #usernickname, #userage, #userlivingplace{
    border: 1px solid gray;
    border-radius: 0.375rem;
    padding : 8px 12px;
    height: 24px;
    line-height: 24px;
    width: 485px;
}
#userlivingplace, #userage{
    float: left;
}


#usernationality{
    border: 1px solid gray;
    border-radius: 0.375rem;
    padding: 8px 12px;
    height: 42px;
    line-height: 42px;
    width: 511px;
}
.optionalInfo{
    padding-left: 80px;
}
.livingplace{
    height: 90px;
    margin-top: 24px;
}
.checkinfo{
    font-size: 14px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}
.profile{
    margin-left: 208px;
    width: 160px;
    height: 270px;
}
.picture{
    width: 160px;
    height: 160px;

}
#picture{
    display: none;
}
label[for="picture"] div{
    width: 160px;
    height: 160px;
    background-image: url(../../img/account.svg);
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 100%;
}
label[for="picture"] div:hover{
    background-color: gray;
}
.change>p{
    text-align: center;
    line-height: 160px;
    opacity: 0;
}
.change>p:hover{
    opacity: 1;
}
.btn{
    height: 42px;
    float: right;
}
#toggle-slide1{
    display:none;
}
label[for="toggle-slide1"]{
    display: inline-block;
    width: 120px;
    height: 42px;
    background-color: gray;
    text-indent: -9999px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
label[for="toggle-slide1"]::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: #e5e5e5;
    border-radius: 25px;
    top: 3px;
    left: 5px;
    transition: 0.5s;
}
#toggle-slide1:checked + label[for="toggle-slide1"]{
    background-color: aqua;
}
#toggle-slide1:checked + label[for="toggle-slide1"]::after{
    top: 5px;
    left: 75px;
}

#toggle-slide2{
    display:none;
}
label[for="toggle-slide2"]{
    display: inline-block;
    width: 120px;
    height: 42px;
    background-color: gray;
    text-indent: -9999px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
label[for="toggle-slide2"]::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: #e5e5e5;
    border-radius: 25px;
    top: 3px;
    left: 5px;
    transition: 0.5s;
}
#toggle-slide2:checked + label[for="toggle-slide2"]{
    background-color: aqua;
}
#toggle-slide2:checked + label[for="toggle-slide2"]::after{
    top: 5px;
    left: 75px;
}
.sub>button{
    margin-top: 20px;
    float: right;
    border-radius: 0.375rem;
    border: none;
    width: 88px;
    padding: 8px, 32px;
    background-color: gray;
    cursor: pointer;
}
.sub>button:hover{
    background-color: aqua;
}
.sub>button>p{
    color:white;
    font-weight: bold;
}
.delete{
    padding-left: 80px;
    height: 874px;
    border-top: 1px solid gray;
}
.notice>h2{
    font-size: 20px;
}
.notice div{
    margin-top: 12px;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 0.375rem;
}
.notice p{
    font-size: 12px;
    color: gray;
}
.p2{
    margin-top: 8px;
    margin-bottom: 0px;
}
.checknotice_div{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
    height:40px;
    line-height: 40px;
}

#delete_form>p{
    float:left;
    margin: 0px;
}
#checknotice, label[for="checknotice"]{
    cursor: pointer;
}
#delete{
    float: right;
    height: 40px;
    width: 200px;
    border: none;
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
}
#delete:disabled{
    opacity: 0.3;
    cursor: default;
}
.socialLoad{
    height: 346px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left : 80px;
}
.socialLoadInfo{
    height: 48px;
}
.socialLoadInfo>h2{
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
}
.socialLoadInfo>p{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: gray;
}
.connect{
    margin-top: 8px;
    height: 290px;
}
.connect>ul{
    height: 290px;
    margin: 0px;
    float: right;
}
.connectTo{
    height: 42px;
    margin-top: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 192px;
}
.connectTo1{
    height: 42px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 192px;
}
.connectButton{
    width:192px;
    height: 40px;
    border: 1px solid gray;
    background-color: white;
    opacity: 0.3;
    padding: 0px;
}
.connectButton:hover{
    opacity: 1;
    cursor: pointer;
}
.connectButton>img{
    margin-left: 8px;
    padding-left: 4px;
    width: 20px;
    height: 20px;
    float: left;
}
.connectTo1>a{
    text-decoration: none;
    color: black;
    line-height: 42px;
}
.connectTo>a{
    text-decoration: none;
    color: black;
    line-height: 42px;
}
.emailCheck{
    border-bottom: 1px solid gray;
    padding-top: 24px;
    padding-bottom: 16px;
    height: 118px;
}
.emailCheck_2{
    padding-left: 80px;
    height: 118px;
}
.emailCheck_2>h2{
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}
#emailInfo{
    margin-top: 16px;
    height: 42px;
}
#emailDiv{
    height: 42px;
}
#emailDivDiv{
    width: 479px;
    height: 42px;
    float: left;
}
#email{
    width: 453px;
    height: 24px;
    line-height: 24px;
    padding: 8px 12px;
    border: 1px solid gray;
    margin: 0px;
    border-radius: 0.375rem;
}
#emailSubmit{
    width: 192px;
    height: 42px;
    border: 1px solid black;
    border-radius: 0.375rem;
    float: right;
    opacity: 0.3;
    background-color: white;
    padding : 0px 16px;
}
#emailSubmit:hover{
    cursor: pointer;
    opacity: 1;
}
#emailSubmit>img{
    float: left;
}
#emailSubmit>span {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
}
.emailCheck_2>p{
    margin-top: 16px;
    height:20px;
    font-size: 14px;
    line-height: 20px;
    color: gray;
}