body{
    font-family: Pretendard, sans-serif;
}
#complete-msg {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#complete-msg > img {
    width: 160px;
}
#complete-msg > h1 {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 700;
}
#complete-msg > p {
    margin-top: 25px;
    font-size: 14px;
}
#complete-msg > a {
    width: 200px;
    margin-top: 25px;
    border: 0 solid #fff;
    border-radius: 6px;
    background-color: #8BC34A;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}
#complete-msg > a:hover {
    background-color: #689F38;
}