#main{
    font-family: Pretendard;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.center{
    font-family: inherit;
    width: 448px;
    margin-top: 80px;
    border: 0 solid  #e5e7eb;
    -webkit-font-smoothing: antialiased;
}
.centerImage{
    vertical-align: center;
    height: 2.2rem;
    margin-left:160px;
    justify-content: center;
}
.centerText{
    margin-top: 24px;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    color: rgb(17,24,39);
    tab-size: 4;
}

#centerSubtext{
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-top: 8px;
}
.warning-msg {
    margin-top: 20px;
    color: rgb(239 68 68);
    font-size: 12px;
    font-weight: bold;
}
#PwForm {
    margin-top: 30px;
}
.fontPassword{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(55,65,81);
}
#fontPassword2 {
    margin-top: 20px;
}
.fontPassword2{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(55,65,81);
}
.fontPassword3{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(55,65,81);
}
.borderPassword{
    display: flex;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    width: 416px;
    box-sizing: border-box;
    height: 38px;
    color: rgb(17,24,39);
    border: 1px solid rgba(107,144,128,0.3);
    box-shadow: rgba(0,0,0,0)0px 0px 0px 0px,rgba(0,0,0,0)0px 0px 0px 0px,rgba(0,0,0,0.05)0px 1px 2px 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;
}

.fontButton{
    font-family: Pretendard;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: .875rem;
    position: relative;
    width: 416px;
    height: 38px;
    background-color:#8BC34A;
    color:rgb(255,255,255);
    border-radius: 5px;
    margin-top: 24px;
    cursor: pointer;
}
.fontButton:hover{
    background-color: #689F38;
}

#warningPw {
    display: none;
}
#warningPw2 {
    display: none;
}

/*비밀번호 변경 실패*/
#password-reset-fail {
    margin-top: 30px;
    background-color: #F1F8E9;
    border: 1px solid rgb(254 226 226);
    border-radius: 10px;
    color: rgb(153 27 27);
    padding: 15px;
    display: none;
    font-size: 12px;
}
#password-reset-fail > div {
    margin-right: 10px;
}
#password-reset-fail svg {
    width: 20px;
}
#password-reset-fail h3 {
    font-weight: bold;
    margin-bottom: 15px;
}