/*전체*/
#main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#left-div {
    width: 180px;
}
#center-div {
    min-width: 0;
    margin-left: 30px;
}
#right-div {
    width: 180px;
    margin-left: 30px;
}

/*공통*/
.profile-picture {
    width: 40px;
    border-radius: 100%;
}

/*==================================================================================*/

/*왼쪽*/
#left-side-img {
    width: 180px;
    margin-bottom: 30px;
}

/*중앙*/
.advertisement {
    border: 0px solid inherit;
}
/*카테고리*/
#category {
    position: relative;
    margin-top: 50px;
}
.center-line {
    width: 100%;
    height: 0;
    border-top: 1px solid hsla(220, 9%, 46%, 0.3);
    position: absolute;
    top: 10px;
    z-index: 0;
}
#category-link {
    margin-left: 20px;
    position: relative;
}
#category-link > div {
    width: 120px;
    background-color: #fff;
    position: relative;
    font-size: 12px;
    padding: 5px 10px;
    z-index: 10;
}
#category-link > div > a:nth-child(1) {
    color: hsla(220, 9%, 46%, 0.7);
}
#category-link > div > a:hover {
    color: rgb(0 144 249);
}
.blue-font {
    color: rgb(0 144 249);
}

/*게시글 프로필 및 게시글 공유*/
#post-first-line {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#post-info {
    display: flex;
    align-items: center;
}

#post-info-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#post-info-text > div {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#post-info-text span {
    font-size: 14px;
    display: flex;
    align-items: center;
}
#post-info-text svg {
    width: 15px;
}

#share-scrap {
    display: flex;
}
#share-scrap svg {
    width: 25px;
    margin-left: 15px;
    color: hsla(220, 9%, 46%, 0.7);
}

/*게시글 제목*/
#post-title {
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
}

/*게시글 내용*/
#post-content {
    margin-top: 40px;
}
#post-content > p {
    margin: 10px 0;
}

/*태그, 좋아요*/
#tag-like {
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#post-tag > a {
    background-color: hsla(220, 9%, 46%, 0.1);
    border-radius: 20px;
    margin: 0 7px;
    padding: 5px 10px;
    font-size: 13px;
}
#post-tag > a:hover {
    color: rgb(0 144 249);
}
#like-dislike {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#like-dislike > button {
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    line-height: 38px;
}
#like-dislike > button:hover {
    border: 1px solid hsla(220, 9%, 46%, 0.7);
}
#like-dislike > p {
    border-top: 1px solid hsla(220, 9%, 46%, 0.3);
    border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
    line-height: 36px;
}
#up-button {
    border: 1px solid hsla(220, 9%, 46%, 0.3);
}
#down-button {
    border: 1px solid hsla(220, 9%, 46%, 0.3);
}
#like-dislike svg {
    width: 20px;
}
#like-dislike  > p {
    width: 50px;
    text-align: center;
}

/*댓글*/
#comment-area {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid hsla(220, 9%, 46%, 0.7);
}
#add-comment-box {
    border: 1px solid hsla(220, 9%, 46%, 0.7);
    border-radius: 10px;
    padding: 20px;
}
.add-comment {

}

/*오른쪽*/
.right-side-advertisement {
    width: 180px;
    margin-bottom: 20px;
}