<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/activity.css">
    <script type="text/javascript" src="../static/javascript/activity.js"></script>
    <title>activity</title>
</head>
<body>
<div class="main">
    <div class="main_without_m">
        <div class="left">
            <div class="ad1">
                <a href="https://okky.kr/articles/1355338" target="_blank"><img src="../img/ad1.png"></a>
            </div>
        </div>
        <div class="middle">
            <div class="info">
                <div class="info_m">
                    <div class="photo_div"><img src="../img/account.svg" class="photo"></div> <!-- 개인 프로필 사진 출력 -->
                    <div class="name">
                        <div class="username"><h2 id="name"></h2></div>
                        <div class="act_score">
                            <img src="../img/iconmonstr-weather-77-240.png" class="thunder">
                            <span>활동점수</span>&nbsp;<span id="actScore"></span>  <!-- 게시물 한개당 점수 1 -->
                        </div>
                    </div>
                    <a href="../templates/myPage.html" class="link">나의 계정</a>
                </div>
                <div class="menu">
                    <ul>
                        <li id="link_1"><span>게시물</span></li>
                        <li id="link_2"><span>댓글</span></li>
                        <li id="link_3"><span>좋아요</span></li>
                    </ul>
                </div>
                <div class="tabPages">
                    <div class="tabPage" id="tabPage_1">
                        <div class="context"></div> <!-- 등록 -->
                        <div class="borderBottom"></div>
                        <div class="write"><!-- 받은 데이터 값에 따라 div 생성 --></div>
                        <div class="bottomMargin"></div>
                    </div>
                    <div class="tabPage" id="tabPage_2">
                        <div class="borderBottom"></div>
                        <div class="comment"><!-- 받은 데이터 값에 따라 div 생성 --></div>
                        <div class="bottomMargin"></div>
                    </div>
                    <div class="tabPage" id="tabPage_3">
                        <div class="borderBottom"></div>
                        <div class="like"><!-- 받은 데이터 값에 따라 div 생성 --></div>
                        <div class="bottomMargin"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="ad2">
                <a href="https://www.itwillbs.co.kr/" target="_blank"><img src="../img/ad2.jpg"></a>
            </div>
            <div class="ad3">
                <a href="https://www.koybeauty.kr/goods/goods_view.php?goodsNo=1000000082&utm_source=criteo&utm_medium=consideration&utm_campaign=DA"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>