<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kirikiri - New Post</title>
    <!--  jQuery, bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>


    <link rel="stylesheet" href="/css/addPost.css">
    <script src="/javascript/addPost.js"></script>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="left-div"></div>
    <div id="center-div">
        <div id="add-post-text">
            <h1>함께 할 때 더 즐거운 순간</h1>
            <p><span th:text="${userVO.userNickname}"></span>님 지식공유 플랫폼 OKKY에서 다양한 사람을 만나고 생각의 폭을 넓혀보세요.</p>
        </div>
        <div id="category" th:if="${boardVO.categoryName} == 'All'">
            <form action="/board/new" method="get" id="category-form">
                <h2>Category</h2>
                <select th:field="${boardVO.categoryName}" class="topic-select" required>
                    <option value="Free" selected>Free</option>
                    <option value="Counselling">Counselling</option>
                    <option value="Play">Play</option>
                    <option value="Job">Job</option>
                </select>
            </form>
        </div>
        <form id="add-post-form" th:action="@{/board/new}" method="post" th:object="${boardVO}">
            <div th:if="*{categoryName} != 'All'">
                <div id="topic" th:if="*{categoryName} != 'Free'">
                    <h2>토픽</h2>
                    <select th:field="*{detailCategoryName}" class="topic-select" th:if="*{categoryName} == 'Counselling'">
                        <option value="">토픽을 선택해주세요.</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                    </select>
                    <select th:field="*{detailCategoryName}" class="topic-select" th:if="*{categoryName} == 'Play'">
                        <option value="">토픽을 선택해주세요.</option>
                        <option value="Food">Food</option>
                        <option value="Playground">Playground</option>
                    </select>
                    <select th:field="*{detailCategoryName}" class="topic-select" th:if="*{categoryName} == 'Job'">
                        <option value="">토픽을 선택해주세요.</option>
                        <option value="Offer">Offer</option>
                        <option value="Search">Search</option>
                    </select>
                </div>
            </div>
            <div id="title">
                <h2>제목</h2>
                <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력해주세요.">
            </div>

            <div id="content">
                <h2>본문</h2>
                <div id="content-box">
                    <textarea id="summernote" th:field="*{boardContent}"></textarea>
                </div>
                <input type="hidden" th:field="*{categoryName}">
                <input type="hidden" th:field="*{nationName}">
                <input type="hidden" th:field="*{userId}">

                <div class="add-post-button">
                    <button id="cancel-button" type="button">취소</button>
                    <button id="register-button" type="submit">등록</button>
                </div>
            </div>
        </form>
    </div>
    <div id="right-div">
        <a><img class="right-side-advertisement" src="/img/k-digital-trainning.jpg"></a>
        <a><img class="right-side-advertisement" src="/img/k-digital-trainning.jpg"></a>
    </div>
</div>
</body>
</html>