<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/checkEmail.css">
</head>
<body>
<div class="containerbox">
    <div class="checkbox">
    <div class="email-guid">
       <div class="checkimg">
           <img src ="/img/check-symbol-4794.svg" alt="체크이미지" width="56px" height="56px">
       </div>
        <span id="email">email@gmail.com</span></br>

        <span class="check-guide">으로 안내 메일을 발송하였습니다.</span></br></br>
        <span id="userId"></span>
    </div>
    <div class="notification">
        <div><p>해당 이메일을 확인 하시고, 비밀번호 변경이 필요하신 경우 해당 이메일을 통해 변경 가능합니다.</br>
        * 서비스에 따라 스팸으로 분류되어 있을 수 있습니다. 스팸함도 꼭 확인해 주시기 바랍니다.</p></div>
    </div>
    <div class="login-button">
        <button><a href="/templates/login.html">로그인</a></button>
    </div>
</div>
</div>




</body>

<script th:inline="javascript" th:object="${user}">
    let userEmail = [[${user.userEmail}]];
    let userId = [[${user.userId}]];
    const pUserId = document.getElementById("userId");
    const pUserEmail = document.getElementById("email");
    pUserEmail.innerHTML = userEmail;
    pUserId.innerHTML = userId;


</script>
</html>