<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kirikiri - Edit Post</title>

    <!--  jQuery, bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    <link rel="stylesheet" href="/css/mainPageCss/header/header.css" />
    <link rel="stylesheet" href="/css/mainPageCss/header/login_signUp.css" />
    <link rel="stylesheet" href="/css/mainPageCss/header/search.css" />
    <link rel="stylesheet" href="/css/mainPageCss/header/darkmode.css" />
    <link rel="stylesheet" href="/css/mainPageCss/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mainPageCss/footer/footer_left.css"/>
    <link rel="stylesheet" href="/css/mainPageCss/footer/footer_center.css"/>
    <link rel="stylesheet" href="/css/mainPageCss/footer/footer_right.css"/>
    <link rel="stylesheet" href="/css/editPost.css">
    <script src="/javascript/editPost.js"></script>
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
</head>
<body>
<div id="main" th:object="${boardVO}">
    <div id="left-div"></div>
    <div id="center-div">
        <div id="edit-post-text">
            <h1>게시물 수정하기</h1>
        </div>

        <form id="edit-post-form" action="/edit" method="post">
            <div id="topic">
                <h2>토픽</h2>
                <select th:field="*{detailCategoryName}" id="topic-select" th:if="*{categoryName} == 'Counselling'">
                    <option value="">토픽을 선택해주세요.</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                </select>
                <select th:field="*{detailCategoryName}" id="topic-select" th:if="*{categoryName} == 'Play'">
                    <option value="">토픽을 선택해주세요.</option>
                    <option value="Food">Food</option>
                    <option value="Playground">Playground</option>
                </select>
                <select th:field="*{detailCategoryName}" id="topic-select" th:if="*{categoryName} == 'Job'">
                    <option value="">토픽을 선택해주세요.</option>
                    <option value="Offer">Offer</option>
                    <option value="Search">Search</option>
                </select>
            </div>
            <div id="title">
                <h2>제목</h2>
                <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력해주세요.">
            </div>

            <div id="content">
                <h2>본문</h2>
                <div id="content-box">
                    <textarea id="summernote" th:field="*{boardContent}"></textarea>
                </div>
                <input type="hidden" th:field="*{nationName}">
                <input type="hidden" th:field="*{categoryName}">
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{boardId}">
                <div class="edit-post-button">
                    <button id="cancel-button" type="button">취소</button>
                    <button id="register-button" type="submit">등록</button>
                </div>
            </div>
        </form>
    </div>
    <div id="right-div">
        <a><img class="right-side-advertisement" src="/img/k-digital-trainning.jpg"></a>
        <a><img class="right-side-advertisement" src="/img/k-digital-trainning.jpg"></a>
    </div>
</div>
<footer>
    <div>
        <div class="footer_left">
            <img
                    src="/img/Logo.png"
                    alt="푸터의 로고 이미지"
                    width="120px"
            />
            <div>
                <span>All That Developer</span>
            </div>
            <div class="icon">
                <img
                        src="/img/mainPageImage/icon-facebook.png"
                        alt="페이스북 아이콘"
                />
                <img
                        src="/img/mainPageImage/icon-youtube.png"
                        alt="유튜브 아이콘"
                />
                <img
                        src="/img/mainPageImage/icon-envelope.png"
                        alt="메일 아이콘"
                />
            </div>
        </div>

        <div class="footer_center">
            <div class="footerMenu">
                <div><span>회사소개</span></div>
                <div><span>공지사항</span></div>
                <div><span>연락처</span></div>
                <div><span>광고문의</span></div>
                <div><span>채용</span></div>
                <div>|</div>
                <div><span>버그제보</span></div>
                <div>|</div>
                <div><span>개인정보 처리방침</span></div>
                <div><span>서비스 이용약관</span></div>
            </div>
            <div class="company">
                <div>
                    상호명: (주)오키코리아 | 대표명 : 노상범, 장기진
                    | 사업자등록번호 : 592-87-02037 | 문의 :
                    <span>@okky.kr</span>
                </div>
                <div>
                    통신판매업신고번호 : 제 2022-서울강남-04742호 ㅣ
                    주소: 서울 강남구 봉은사로 303 TGL경복빌딩 502호
                    (06103)
                </div>
                <div>
                    © 2022 (주)오키코리아, Inc. All rights reserved.
                </div>
            </div>
        </div>

        <div class="footer_right">
            <div class="sponsored_text">
                <div>SPONSORED BY</div>
            </div>
            <div class="sponsored_logo">
                <img
                        src="/img/mainPageImage/inames-logo.svg"
                        alt="inames 로고 이미지"
                />
                <img
                        src="/img/mainPageImage/nhn-cloud-logo.svg"
                        alt="nhn-cloud 로고 이미지"
                />
            </div>
        </div>
    </div>
</footer>
<script th:inline="javascript">
    let text = [[${boardVO.boardContent}]];
    let content = document.getElementById("summernote");

    content.innerHTML = text;
</script>
</body>
</html>