<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>
<!-- header -->
<div id="header">
    <div><img src="#" alt="logo"></div>
    <ul>
        <li>Q&A</li>
        <li>지식</li>
        <li>커뮤니티</li>
        <li>이벤트</li>
        <li>JOBS</li>
        <li>공지사항</li>
    </ul>
</div>
<div id="search"></div>
<div id="darkmode"></div>
<div id="user">
    <button>로그인</button>
    <button>회원가입</button>
</div>

<!-- navigator -->
<div id="tag">
    <ul>
        <li>#인기 태그</li>
        <li>#java<span>64</span></li>
        <li>#springboot<span>34</span></li>
        <li>#spring<span>34</span></li>
        <li>#javascript<span>32</span></li>
        <li>#react<span>29</span></li>
    </ul>
</div>
<div id="writer">
    <ul>
        <li>Top Writers</li>
        <li>고등어통조림<span>313</span></li>
        <li>adduci<span>172</span></li>
        <li>1층<span>158</span></li>
        <li>leemong77<span>143</span></li>
        <li>제운<span>138</span></li>
    </ul>
</div>

<!-- main -->
<!-- title -->
<div>
    <h3>공지사항</h3>
    <p>OKKY의 새소식, 이벤트, 행사 정보를 공유하는 공간입니다.</p>
</div>

<!-- select -->
<div>
    <ul>
        <li>공지사항</li>
        <li>아카이브</li>
    </ul>
    <button>최신순</button>
</div>

<!-- search -->
<div>
    <img src="#" alt="renew">
    <input type="text">
    <span>1 / 69 페이지</span>
    <img src="#" alt="left">
    <img src="#" alt="right">
</div>

<!-- contents -->
<div>
    <ul>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
        <li>
            <div>
                <img src="#" alt="profile-image">
                <span>sbroh</span>
                <span>11.7k</span>
                <span>10일 전</span>
            </div>
            <div>
                <a href="#">2022년 OKKY 송년회 안내(마감)</a>
            </div>
            <div>
                <span>공지사항</span>
                <span>#송년회</span>
                <span>#okky</span>
            </div>
            <div>
                <span>5.5k</span>
                <span>24</span>
                <span>20</span>
            </div>
        </li>
    </ul>
</div>

<!-- footer -->

</body>
</html>