<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KiriKiri</title>
</head>
<body>
<!-- header -->


<!-- navigator -->


<!-- main -->
<!-- title -->
<div></div>

<!-- select -->
<div></div>

<!-- search -->
<div></div>

<!-- contents -->
<div>
    <ul>
        <li>
            <div>

            </div>
            <div>
                <a href=""></a>
            </div>
            <div>

            </div>
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
    </ul>
</div>


<!-- footer -->

</body>
</html>