<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OKKY - All That Developer</title>
    <link rel="stylesheet" href="../static/css/findAccount.css">
    <script src="../static/javascript/findAccount.js"></script>
</head>
<body>
<container class="contain">
    <p class="logo"><a href="../templates/community.html"><img src ="../static/img/okky.svg" alt="로고 이미지"></a></p>
    <h2 class="main-title">계정찾기</h2>
    <div class = "guide">회원 가입시 입력하신 이메일 주소를 입력하시면,
        <br>해당 이메일로 아이디 및 비밀번호 변경 링크를 보내드립니다.</div>
    <form action="" method="get">
        <div class="address-input">
         <label for="input-checkbox" class="input-label">이메일 주소</label>
         <div><input id="input-checkbox" type="email" placeholder="이메일을 입력해주세요" required></div>
        </div>
        <div class="cancel-button"><a href="../templates/login.html">취소</a></div>
        <input id="find-address" type="submit" onclick="input_find()" value="계정찾기">
    </form>
</container>
</body>
</html>