<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OKKY - All That Developer</title>
    <link rel="stylesheet" href="/css/findAccount.css">
    <script type="text/javascript" src="/javascript/findAccount.js"></script>
</head>
<body>
<container class="contain">
    <p class="logo"><a href="/templates/community.html"><img src ="/img/Logo.png" alt="로고 이미지" width="140px" ></a></p>
    <h2 class="main-title">계정찾기</h2>
    <div class = "guide">회원 가입시 입력하신 이메일 주소를 입력하시면,
        <br>해당 이메일로 아이디 및 비밀번호 변경 링크를 보내드립니다 .
    </div>
    <form id="email-form" action="/checkEmail" method="post" onsubmit="email_check()">
        <div class="address-input">
            <label for="input-checkbox" class="input-label">이메일 주소</label>
            <div><input id="input-checkbox" name="userEmail" type="email" placeholder="이메일을 입력해주세요" required></div>
        </div>
        <div id="not-email" >
            <p>! 유효한 이메일 주소를 입력해주세요.</p>
        </div>
        <div class="cancel-button"><a href="/templates/login.html">취소</a></div>
        <div id="find-address"><input type="submit" value="계정찾기"></div>
    </form>

</container>
</body>
</html>