<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myPage.css">
    <script type="text/javascript" src="../static/javascript/myPage.js"></script>
    <title>myPage</title>
</head>
<body>
<div class="main">
    <div class="main_top_margin">
        <div class="main_without_margin">
            <aside class="menu_bar">
                <h2>내 계정</h2>
                <div class="menu">
                    <!--https://iconmonstr.com/ 사용 -->
                    <ul>
                        <li id="link_1"><img src="../img/account.svg"></img><span>회원 정보</span></Link></li>
                        <li id="link_5"><img src="../img/deleteaccount.svg"></img><span>계정</span></li>
                    </ul>
                </div>
            </aside>
            <div class="content">
                <!-- 계정관리 화면 -->
                <div class="tabpage" id="tabpage_1">
                    <form id="user_info" action="serverscriptfile" name="person_info" method="post">
                        <div class="info">
                            <h2>회원정보</h2>
                            <div class="info_word">
                                <div class="person_info">
                                    <div class="name">
                                        <label for="username" class="username">이름</label>
                                        <div class="name_enter">
                                            <input type="text" id="username" value="원래 아이디명">
                                        </div>
                                    </div>
                                    <div class="nickname">
                                        <label for="usernickname" class="usernickname">닉네임</label>
                                        <div class="nickname_enter">
                                            <input type="text" id="usernickname" value="원래 닉네임">
                                        </div>
                                    </div>
                                    <div class="nationality">
                                        <div class="usernationality">국적</div>
                                        <div class="nationality_enter">
                                            <select name="nation" id="usernationality">
                                                <option value ="a">원래 국적</option>
                                                <option value="china">중국</option>
                                                <option value="vietnam">베트남</option>
                                                <option value="thailand">태국</option>
                                                <option value="us">미국</option>
                                                <option value="uzbec">우즈베키스탄</option>
                                                <option value="philp">필리핀</option>
                                                <option value="japan">일본</option>
                                                <option value="other">기타</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="age">
                                        <label for="userage" class="userage">나이</label>
                                        <div class="age_enter">
                                            <input type="text" id="userage" value="원래 나이">
                                        </div>
                                    </div>
                                    <div class="livingplace">
                                        <label for="userlivingplace" class="userlivingplace">거주 지역</label>
                                        <p class="checkinfo">구 단위만 입력</p>
                                        <div class="livingplace_enter">
                                            <input type="text" id="userlivingplace" value="원래 거주지">
                                        </div>
                                    </div>
                                </div>
                                <div class="profile">
                                    <label for="picture">
                                        <div class="change"><p>변경</p></div>
                                    </label>
                                    <input type="file" id="picture">
                                </div>
                                <div class="btn">
                                    <input type="checkbox" id="toggle-slide1">
                                    <label for="toggle-slide1">on/off</label>
                                    <input type="checkbox" id="toggle-slide2">
                                    <label for="toggle-slide2">on/off</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="sub">
                        <button type="submit" form="user_info"><p>저장</p></button>
                    </div>
                </div>



                <div class="tabpage" id="tabpage_5">
                    <div class ="emailCheck">
                        <div class = "emailCheck_2">
                            <h2>이메일 정보</h2>
                            <form action="" id="emailInfo">
                                <div id="emailDiv">
                                    <div id="emailDivDiv">
                                        <input type="text" id="email" name="email" value="원래 이메일 주소">
                                    </div>
                                    <button type="submit" id="emailSubmit">
                                        <img src="../img/mail_logo.svg">
                                        <span>이메일 인증</span>
                                    </button>
                                </div>
                            </form>
                            <p>이메일 변경은 변경한 이메일로 인증 요청 메일이 발송되고 해당 이메일을 통해 인증을 정상적으로 완료한 후 최종적으로 반영됩니다</p>
                        </div>
                    </div>
                    <div class = "socialLoad">
                        <div class="socialLoadInfo">
                            <h2>소셜계정 연동</h2>
                            <p>사용하시는 소셜 및 인증 제공자들과 계정을 연동하고 손쉽게 로그인하세요.</p>
                        </div>
                        <div class="connect">
                            <ul>
                                <li class="connectTo1">
                                    <button type="button" onclick= "location.href ='여기에 경로 작성'" class="connectButton">
                                        <img src="../img/git_logo.png" alt="">
                                        <span>깃허브 연결하기</span>
                                    </button>

                                </li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href =''" class="connectButton">
                                        <img src="../img/google_logo.png" alt="">
                                        <span>구글 연결하기</span>
                                    </button>
                                </li>
                                <li class="connectTo">
                                  <button type="button" onclick= "location.href =''" class="connectButton">
                                      <img src="../img/facebook_logo.png" alt="">
                                      <span>메타 연결하기</span>
                                  </button>
                                </li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href =''" class="connectButton">
                                        <img src="../img/naver_logo.png" alt="">
                                        <span>네이버 해제하기</span>
                                    </button></li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href =''" class="connectButton">
                                        <img src="../img/kakao_logo.png" alt="">
                                        <span>카카오 연결하기</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="delete">
                        <div class="notice">
                            <h2>계정 삭제</h2>
                            <div>
                                <p class="p1">회원 탈퇴일로부터 계정과 닉네임을 포함한 계정 정보(아이디/이메일/닉네임)은
                                    <br>개인정보 보호방침에 따라 60일간 보관(잠김)되며, 60일이 경과된 후에는 모든 개인 정보는 완전히 삭제되며 더 이상 복구할 수 없게 됩니다.
                                </p>
                                <p class="p2">작성된 게시물은 삭제되지 않으며, 익명처리 후 OKKY로 소유권이 귀속됩니다</p>
                            </div>
                        </div>
                        <div class="checknotice_div">
                            <form action="" method="post" id="delete_form">
                                <p>
                                    <input type="checkbox" name="checknotice" id="checknotice">
                                    <label for="checknotice">계정 삭제에 관한 정책을 읽고 이에 동의합니다.</label>
                                </p>
                                <button type="submit" id="delete" disabled form="delete_form">회원 탈퇴</button>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</body>
</html>