<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myPage.css">
    <script type="text/javascript" src="../static/javascript/myPage.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>myPage</title>
</head>
<body>
<div class="main">
    <div class="main_top_margin">
        <div class="main_without_margin">
            <aside class="menu_bar">
                <h2>내 계정</h2>
                <div class="menu">
                    <!--https://iconmonstr.com/ 사용 -->
                    <ul>
                        <!--<li id="link_1"><img src="../../img/account.svg"></img><span>회원 정보</span></li> -->
                        <li id = "link_1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 dark:text-gray-400 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <span>회원정보</span>
                        </li>
                        <li id="link_5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class=" text-gray-400 dark:text-gray-600 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"></path>
                            </svg>
                            <span>계정</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="content">
                <!-- 계정관리 화면 -->
                <div class="tabpage" id="tabpage_1">
                    <form id="user_info" action="" name="user_info" method="post">
                        <div class="info">
                            <h2>회원정보</h2>
                            <div class="info_word">
                                <div class="essentialInfo">
                                    <div class="name">
                                        <label for="username" class="username">이름</label>
                                        <div class="name_enter">
                                            <input type="text" id="username" value="원래 아이디명">
                                        </div>
                                    </div>
                                    <div class="empty-name"></div>
                                    <div class="nickname">
                                        <label for="userNickname" class="userNickname">닉네임</label>
                                        <div class="nickname_enter">
                                            <input type="text" id="userNickname" value="원래 닉네임">
                                        </div>
                                    </div>
                                    <div class="empty-nickname"></div>
                                    <div class="nationality">
                                        <div class="usernationality">국적</div>
                                        <div class="nationality_enter">
                                            <select name="nation" id="usernationality">
                                                <option value ="a">원래 국적</option>
                                                <option value="china">중국</option>
                                                <option value="vietnam">베트남</option>
                                                <option value="thailand">태국</option>
                                                <option value="us">미국</option>
                                                <option value="uzbec">우즈베키스탄</option>
                                                <option value="philp">필리핀</option>
                                                <option value="japan">일본</option>
                                                <option value="other">기타</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile">
                                    <label for="picture">
                                        <div class="change"><p>변경</p></div>
                                    </label>
                                    <input type="file" id="picture">
                                </div>
                            </div>
                        </div>
                        <div class="optionalInfo">
                            <div class="age">
                                <label for="userage" class="userage">나이 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>비공개</span></label>
                                <div class="age_enter">
                                    <input type="text" id="userage" value="원래 나이">
                                    <div class="btn">
                                        <input type="checkbox" id="toggle-slide1" onclick="checkSlide1()">
                                        <label for="toggle-slide1">
                                            <span class="onf_btn"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="livingplace">
                                <label for="userlivingplace" class="userlivingplace">거주 지역 &nbsp;&nbsp;<span>비공개</span></label>
                                <p class="checkinfo">구 단위만 입력</p>
                                <div class="livingplace_enter">
                                    <input type="text" id="userlivingplace" value="원래 거주지">
                                    <div class="btn">
                                        <input type="checkbox" id="toggle-slide2" onclick="checkSlide2()">
                                        <label for="toggle-slide2">
                                            <span class="onf_btn"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="email-agree">
                            <div class="email-agree2">
                                <div class="agree">
                                    <h2>이메일 수신동의</h2>
                                    <p>OKKY에서 주최하는 다양한 이벤트, 정보성 뉴스레터 및 광고 수신여부를 설정할 수 있습니다.</p>
                                </div>
                                <div class="marketing-agree">
                                    <div>
                                        <div class="marketing-info">
                                            <p class="p-m1">뉴스레터 및 마케팅 메일 수신</p>
                                            <p class="p-m2">유저가 만드는 다양한 컨텐츠를 뉴스레터로 받습니다.</p>
                                        </div>
                                        <div class="marketing-btn">
                                            <input type="checkbox" id="toggle-slide3">
                                            <label for="toggle-slide3">
                                                <span class="onf_btn"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-div">
                                <button type="submit" form="user_info" id="infoSubmit">저장</button>
                            </div>
                        </div>
                    </form>
                </div>




                <div class="tabpage" id="tabpage_5">
                    <div class ="emailCheck">
                        <div class = "emailCheck_2">
                            <h2>이메일 정보</h2>
                            <form action="" id="emailInfo">
                                <div id="emailDiv">
                                    <div id="emailDivDiv">
                                        <input type="text" id="email" name="email" value="원래 이메일 주소">
                                    </div>
                                    <button type="submit" id="emailSubmit" form="emailInfo">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
                                        </svg>
                                        <span>이메일 인증</span>
                                    </button>
                                </div>
                            </form>
                            <div class = wrong-email></div>
                            <p class = email-warning>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="inline-block h-4 w-4 shrink-0">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
                                </svg>
                                <span>이메일 변경은 변경한 이메일로 인증 요청 메일이 발송되고 해당 이메일을 통해 인증을 정상적으로 완료한 후 최종적으로 반영됩니다</span>
                            </p>
                        </div>
                    </div>
                    <div class = "socialLoad">
                        <div class="socialLoadInfo">
                            <h2>소셜계정 연동</h2>
                            <p>사용하시는 소셜 및 인증 제공자들과 계정을 연동하고 손쉽게 로그인하세요.</p>
                        </div>
                        <div class="connect">
                            <ul>
                                <li class="connectTo1">
                                    <button type="button"  class="connectButton" id="git" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)"> <!-- 경로 작성 -->
                                        <img src="../img/git_logo.png" alt="">
                                        <span>깃허브 연결하기</span>
                                    </button>

                                </li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href=''"  class="connectButton" id="google" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                        <img src="../img/google_logo.png" alt="">
                                        <span>구글 연결하기</span>
                                    </button>
                                </li>
                                <li class="connectTo">
                                  <button type="button" onclick= "location.href =''" class="connectButton" id="facebook" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                      <img src="../img/facebook_logo.png" alt="">
                                      <span>메타 연결하기</span>
                                  </button>
                                </li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href =''" class="connectButton" id="naver" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                        <img src="../img/naver_logo.png" alt="">
                                        <span>네이버 연결하기</span>
                                    </button></li>
                                <li class="connectTo">
                                    <button type="button" onclick= "location.href =''" class="connectButton" id="kakao" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                        <img src="../img/kakao_logo.png" alt="">
                                        <span>카카오 연결하기</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="delete">
                        <div class="notice">
                            <h2>계정 삭제</h2>
                            <div>
                                <p class="p1">회원 탈퇴일로부터 계정과 닉네임을 포함한 계정 정보(아이디/이메일/닉네임)은
                                    <br>개인정보 보호방침에 따라 60일간 보관(잠김)되며, 60일이 경과된 후에는 모든 개인 정보는 완전히 삭제되며 더 이상 복구할 수 없게 됩니다.
                                </p>
                                <p class="p2">작성된 게시물은 삭제되지 않으며, 익명처리 후 OKKY로 소유권이 귀속됩니다</p>
                            </div>
                        </div>
                        <div class="checknotice_div">
                            <form action="" method="post" id="delete_form">
                                <p>
                                    <input type="checkbox" name="checknotice" id="checknotice" style="border-style: none">
                                    <label for="checknotice">계정 삭제에 관한 정책을 읽고 이에 동의합니다.</label>
                                </p>
                                <button type="submit" id="delete" disabled form="delete_form">회원 탈퇴</button>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</body>
</html>

