<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kirikiri - All That Foreign worker</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/passwordResetCompletion.css" />
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
</head>
<body>
<div id="complete-msg">
    <img src="/img/kirikiri-image1.png" alt="kirikiri-image">
    <h1>비밀번호가 실패하였습니다.</h1>
    <p>비밀번호를 다시 확인해주세요.</p>

    <a onclick="history.back()">다시시도</a>

</div>
</body>
</html>