<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>kirikiri - All That Foreign worker</title>
        <link rel="stylesheet" href="../static/css/reset.css" />
        <link rel="stylesheet" href="../static/css/passwordreset.css" />
        <script type="text/javascript" src="../static/javascript/passwordreset.js"></script>
    </head>
    <body>
        <div id="main">
            <div>
                <div class="center">
                    <a href="/">
                        <img class="centerImage" src="../static/img/Logo.png" alt="OKKY">
                    </a>
                    <h2 class="centerText">변경하실 비밀번호를 입력해주세요.</h2>
                    <div id="centerSubtext">
                        <form>
                            <div >
                                <div>
                                    <div>
                                        <label class="fontPassword">현재 비밀번호</label>
                                        <div>
                                            <input class="borderPassword" type="password" id="password1" >
                                            </div>
                                        </div>
                                    <div>
                                        <label class="fontPassword2">신규 비밀번호</label>
                                        <div>
                                            <input class="borderPassword" type="password" placeholder="최소 6자 이상(알파벳, 숫자 필수)" id="password2" />
                                            <div class="warning-msg">
                                                <p id="warningPw" class="warning-msg">
                                                    <span>비밀번호는 최소 6자 이상과 영문+숫자 조합을 입력해주세요</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="fontPassword3">신규 비밀번호 확인</label>
                                        <div>
                                            <input class="borderPassword" type="password" id="password3" />
                                            <div class="warning-msg">
                                                <p id="warningPw2" class="warning-msg">
                                                    <span>비밀번호가 일치하지 않습니다.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="fontButton" id="button-event" >비밀번호 변경</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>