.banner {
    width: 100%;
}

.banner:hover {
    cursor: pointer;
}

.banner_s {
    display: none;
    width: 640px;
}

.banner_s:hover {
    cursor: pointer;
}

.tag_box {
    display: flex;
    margin: 32px 0;
}

.tag {
    width: 100%;
}

.f_tag {
    margin-right: 40px;
}

.tag_title {
    background-image: url(../../../img/mainPageImage/tag-background.png);
    display: flex;
    align-items: center;
    padding: 0 32px;
    font-weight: 500;
    height: 64px;
    border-radius: 10px;
}

.tag_title:hover {
    cursor: pointer;
    color: #8BC34A;
}

.tag_title img {
    position: relative;
    height: 69px;
    top: -4px;
}

.posts :last-child {
    border: none;
}

.post {
    padding: 16px 0;
    border-bottom: 1px solid #dadada;
}

.writers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 300;
}

.writers * {
    margin-right: 4px;
}

.writers_info,
.like_comment {
    display: flex;
    align-items: center;
}

.writers_info > span:nth-child(2):hover {
    cursor: pointer;
    color: #0090f9;
}

.post_title span {
    font-weight: 500;
}
.post_title span:hover {
    cursor: pointer;
    color: #8BC34A;
}

.icon-user {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.icon-user:hover {
    cursor: pointer;
}

.icon-lightning {
    width: 12px;
    height: 12px;
    margin-right: 0px;
}

.icon-up-down {
    width: 16px;
    height: 16px;
}

.icon-comment {
    width: 16px;
    height: 16px;
}
