.bestTag {
    padding-bottom: 16px;
    border-bottom: 1px solid #dadada;
    font-size: 14px;
    font-weight: 500;
}

.tag_menu {
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
}

.tag_menu_li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.tag_menu_li > span:first-child:hover {
    cursor: pointer;
    color: #8BC34A;
}

.span_count {
    color: #8BC34A;
}

.main_left_Img {
    margin-top: 40px;
}

.main_left_Img img {
    width: 180px;
    height: 180px;
}

.main_left_BugReport {
    width: 180px;
    height: 64px;
    margin: 32px 0;
    background-color: #eff6ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bugReport_img {
    width: 32px;
    height: 32px;
    background-color: #a5d1f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bugReport_img img {
    width: 20px;
    height: 20px;
}

.bugReport_text {
    padding: 6px;
}

.bugReport_text p {
    font-size: 11.6px;
}

.main_left_BugReport:hover {
    cursor: pointer;
    color: #8BC34A;
}

.main_left_TopWriters {
    width: 180px;
    height: 237px;
}

.topWriters {
    font-size: 14px;
    font-weight: 500;
}

.topWriters_users {
    border-top: 1px solid #dadada;
    margin-top: 16px;
    padding-top: 16px;
}

.topWriters_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.user_name,
.user_point {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.user_name span {
    margin-left: 4px;
}

.user_name span:hover {
    cursor: pointer;
    color: #8BC34A;
}

.user_icon {
    width: 24px;
    height: 24px;
}
.user_icon:hover {
    cursor: pointer;
}

.medal_icon {
    width: 16px;
    height: 16px;
}
