<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kirikiri.mapper.BoardMapper">

    <select id="countAll" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD
    </select>
    <select id="countCategory" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD WHERE CATEGORY_NAME = #{categoryName}
    </select>
    <select id="countDetailCategory" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD WHERE CATEGORY_NAME = #{categoryName} AND DETAIL_CATEGORY_NAME = #{detailCategoryName}
    </select>
    <select id="countSearch" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
    </select>
    <select id="countCategorySearch" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD WHERE CATEGORY_NAME = #{categoryName} AND BOARD_TITLE LIKE '%'||#{keyword}||'%'
    </select>
    <select id="countByUser" resultType="Integer">
        SELECT COUNT(BOARD_ID) FROM TABLE_BOARD WHERE USER_ID = #{userId}
    </select>

    <select id="selectAll" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>

    <select id="selectAllByLikes" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                ORDER BY BOARD_LIKES DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectAllByViews" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                ORDER BY BOARD_VIEWS DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>

    <select id="selectCategory" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName}
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectCategoryByLikes" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName}
                ORDER BY BOARD_LIKES DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectCategoryByViews" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName}
                ORDER BY BOARD_VIEWS DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>

    <select id="selectDetailCategory" resultType="boardDTO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName} AND DETAIL_CATEGORY_NAME = #{detailCategoryName}
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectDetailCategoryByLikes" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName} AND DETAIL_CATEGORY_NAME = #{detailCategoryName}
                ORDER BY BOARD_LIKES DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectDetailCategoryByViews" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE CATEGORY_NAME = #{categoryName} AND DETAIL_CATEGORY_NAME = #{detailCategoryName}
                ORDER BY BOARD_VIEWS DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>

    <select id="selectPopularPosts" resultType="boardVO">
        SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM TABLE_BOARD
            ORDER BY BOARD_VIEWS DESC
        )
        <![CDATA[
        WHERE ROWNUM <= 5
        ]]>
    </select>

    <select id="selectPopularWriters" resultType="boardDTO">
        SELECT USER_ID, COUNT(BOARD_ID) AS POSTS
        FROM TABLE_BOARD
        GROUP BY USER_ID
        ORDER BY COUNT(BOARD_ID) DESC
    </select>

    <insert id="insert">
        INSERT INTO TABLE_BOARD(BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_VIEWS, BOARD_LIKES, USER_ID)
        VALUES(SEQ_BOARD.NEXTVAL, #{nationName}, #{categoryName}, #{detailCategoryName}, #{boardTitle}, #{boardContent}, #{boardViews}, #{boardLikes}, #{userId})
    </insert>
    <delete id="delete">
        DELETE FROM TABLE_BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>
    <update id="update">
        UPDATE TABLE_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, CATEGORY_NAME = #{categoryName}, DETAIL_CATEGORY_NAME = #{detailCategoryName}, BOARD_UPDATE_DATE = SYSDATE
        WHERE BOARD_ID = #{boardId}
    </update>
    <update id="updateView">
        UPDATE TABLE_BOARD
        SET BOARD_VIEWS = BOARD_VIEWS + 1
        WHERE BOARD_ID = #{boardId}
    </update>
    <select id="select" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM TABLE_BOARD
        WHERE BOARD_ID = #{boardId}
    </select>

    <select id="selectFivePosts" resultType="boardVO">
        SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM TABLE_BOARD
            WHERE CATEGORY_NAME = #{categoryName}
            ORDER BY BOARD_ID DESC
        )
        <![CDATA[
        WHERE ROWNUM <= 5
        ]]>
    </select>

    <select id="search" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="searchByCategory" resultType="boardVO">
        SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
            FROM
            (
                SELECT BOARD_ID, NATION_NAME, CATEGORY_NAME, DETAIL_CATEGORY_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, BOARD_VIEWS, BOARD_LIKES, USER_ID
                FROM TABLE_BOARD
                WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%' AND CATEGORY_NAME = #{categoryName}
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page} - 1) * 20
        ]]>
    </select>
    <select id="selectWritten" resultType="boardVO">
        SELECT BOARD_ID, CATEGORY_NAME, BOARD_TITLE, BOARD_REGISTER_DATE
        FROM
        (
            SELECT ROWNUM R, BOARD_ID, CATEGORY_NAME, BOARD_TITLE, BOARD_REGISTER_DATE
            FROM
            (
                SELECT BOARD_ID, CATEGORY_NAME, BOARD_TITLE, BOARD_REGISTER_DATE
                FROM TABLE_BOARD
                WHERE USER_ID = #{userId}
                ORDER BY BOARD_ID DESC
            )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 20
        )
        WHERE R > (#{page}-1) * 20
        ]]>
    </select>
</mapper>