<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kirikiri.mapper.UserMapper">
    <select id="selectUser" resultType="com.example.kirikiri.domain.UserVO">
        SELECT USER_NAME, USER_NICKNAME, USER_NATION, USER_AGE, USER_AGE_CHECK, USER_RESIDENCE, USER_RESIDENCE_CHECK, USER_EMAIL_RECIEVE_CHECK, USER_PROFILE
        FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>
    <update id="updateUser">
        UPDATE TBL_USER
        SET USER_NAME=#{userName}, USER_NICKNAME = #{userNickname}, USER_NATION = #{userNation}, USER_AGE = #{userAge}, USER_AGE_CHECK = #{userAgeCheck}, USER_RESIDENCE= #{userResidence}, USER_RESIDENCE_CHECK = #{userResidenceCheck}, USER_PROFILE = #{userProfile}, USER_EMAIL_RECIEVE_CHECK = #{userEmailRecieveCheck}
        WHERE USER_ID = #{userId}
    </update>
    <delete id="deleteUser">
        DELETE FROM TBL_USER
        WHERE USER_ID = #{userId}
    </delete>
</mapper>