header {
    display: flex;
    border-bottom: 1px solid #c5c5c5;
}

.header {
    width: 1280px;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
}

.header_left {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 639px;
    height: 28px;
}

.header_left > a > img:hover {
    cursor: pointer;
}

.header_left_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 28px;
    font-size: 14px;
}
.header_left_menu > div > a {
    text-decoration: #000;
    color: #000;
}
.header_left_menu > div > a:hover {
    color: #8BC34A;
}

.header_right {
    position: absolute;
    right: 0px;
    width: 523px;
    display: flex;
    justify-content: space-between;
}

.header_right_search {
    width: 303px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right_login {
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right_login > div {
    display: flex;
    align-items: center;
}


.menu_btn {
    position: absolute;
    right: -8px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
}
.menu_btn:hover {
    background-color: #e7e7e9;
    cursor: pointer;
}

.menu_btn img {
    width: 18px;
    height: 16px;
}

.scrap, .alert {
    color: hsla(220, 9%, 46%, 0.5);
}
.scrap svg, .alert svg {
    width: 25px;
}
.scrap:hover, .alert:hover {
    color: #8BC34A;
}
#mypage {
    position: relative;
}

.mypage {
    background-color: #fff;
    border: 0px solid #fff;
    cursor: pointer;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.mypage img{
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
#mypage-menu {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin-top: 20px;
    width: 200px;
    position: absolute;
    right: 0;
    border: 1px solid hsla(220, 9%, 46%, 0.3);
    border-radius: 5px;
    visibility: hidden;
}
#mypage-menu svg {
    width: 20px;
    margin-right: 10px;
}
#mypage-menu > a {
    text-align: left;
    padding: 10px 30px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#mypage-menu > a:hover {
    color: #8BC34A;
}
#logout {
    width: 100%;
    border-top: 1px solid hsla(220, 9%, 46%, 0.7);
}

.alert {
    margin: 0;
    padding: 0;
}
